body {
  background-color: #edf4f4;
  margin: 0;
}
form {
  background-color: #dce8e8;
  width: 50%;
  margin: auto;
  padding: 10px 30px;
}
label {
  color: #000080;
  font-size: 20px;
  font-family: serif;
}
input,
select {
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 0;
  background-color: #dce8e8;
  border: 2px solid silver;
}
button {
  background-color: green;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  margin: 21px 0;
}
