body {
  background-image: url(../images/libraryBackground.jpg);
}
section {
  background-color: #f7f6f6;
  width: 40%;
  min-width: 500px;
  padding: 2em;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  width: fit-content;

  color: #c70202;
  text-shadow: silver 2px 2px;

  margin-bottom: -7px;
}
h2::first-letter {
  color: blue;
  font-size: 1.5em;
}
section a:link {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
section a:visited {
  color: violet;
}
section a:hover {
  color: #c70202;
  text-decoration: underline;
}
