.allTables {
  margin: 0 auto;
  width: 1200px;
}
.allTables td {
  text-align: center;
}
.allTables th {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}
.allTables tr:nth-child(odd) {
  background-color: rgb(200, 200, 200);
}
/* td[title]:hover::after {
  content: attr(title);
  display: block;
  position: absolute;
  top: 289px;
  left: 350px;
  background-color: red;
  color: #fff;
  padding: 5px;
} */
.tooltip {
  background-color: red;
  position: absolute;
  left: 350px;
  top: 289px;
  visibility: hidden;
}
.tooltip p {
  margin: 3px;
  color: white;
}
td:hover .tooltip {
  visibility: visible;
}
